<form align="center" class="text-center" style="margin-left: 30px;">
  <div style="width: 18rem;">
    <label for = "destinatario" class="form-label">Inserisci il destinario: </label>
    <input name="destinatario" class="form-control" #dest>
  </div>
  <br>
  <div style="width: 18rem;">
    <label for = "oggetto" class="form-label">Inserisci l'oggetto: </label>
    <input name="oggetto" class="form-control" #ogg>
  </div>
  <br>
  <div style="width: 18rem;">
    <label for = "corpo" class="form-label">Inserisci il corpo della mail: </label>
    <input name="corpo" class="form-control" #corp>
  </div>
  <br>
</form>